.container hr {
  width: 0;
}

.table {
  display: inline-block;
  border-collapse: collapse;
  font-size: 1.05rem;
}

.table input[type='checkbox'] {
  cursor: pointer;
}

.table th {
  background: var(--dark-green);
  color: white;

  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
  cursor: pointer;
}

.row > td {
  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
}

.row:hover > td {
  background-color: grey;
  color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.85rem;
  gap: 0.85rem;
  position: fixed;
  right: 1rem;
  top: 0.85rem;
}
