.container {
  display: flex;
  flex-direction: row;
}

.table {
  display: inline-block;
  border-collapse: collapse;
  font-size: 1.05rem;
  overflow-y: auto;
  height: 100vh;
}

.table input[type='checkbox'] {
  cursor: pointer;
}
.table th {
  background: var(--dark-green);
  color: white;

  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
  cursor: pointer;
}

.row > td {
  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
}

.row:hover > td {
  background-color: grey;
  color: white;
}

.button {
  position: fixed;
  right: 1em;
  top: 1em;
  background-color: var(--dark-green);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
}
