.container {
  display: flex;
  flex-direction: row;
}

.table {
  display: inline-block;
  border-collapse: collapse;
  font-size: 1.05rem;
  overflow-y: auto;
  /* height: 300px; */
}

.header {
  background: rgb(37, 78, 57);
  color: white;

  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
  cursor: pointer;
}

.row > td {
  border: 1px solid black;
  padding: 0.5em 1em;

  text-align: left;
}

.row:hover > td {
  color: white;
  background-color: grey;
}

.button {
  background-color: grey;
  color: white;
  font-family: monospace;
  width: 100px;
}